.search-jumbotron {
    height: 20em;
    background: url("../img/bg-img-compressed.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    padding-top: 20px;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators .active {
    width: 25px;
    height: 25px;
    margin: 0;
    background-color: #212121;
    border: none;
    border-radius: 40%;
}

.carousel-indicators li {
    width: 18px;
    height: 18px;
    border: none;
    background-color: #2E2E2E;
}
.carousel-inner {
    margin-bottom: 50px;
}

.modal{
    z-index: 20;   
}
.modal-backdrop{
    z-index: 10;        
}​

#ItemCarousel .card .card-block {
    padding-top: 3px;
    padding-bottom: 1px;
}

.item-card .card-title{
  padding-left: 0.5em;
}

#inputMap
{
    height: 400px;
    overflow:visible;
}

#regDiv2, #regDiv3
{
	display: none;
}

#registerBtn
{
    display:none;
}

.alert.alert-danger {
  position: absolute;
  top: 80px;
  right: 20px;
  z-index: 5;
}
