#card_image {
  height: auto;
  width: auto;
  max-height: 1000px;
}

.card .account-icon {
  font-size: 5em;
  float: left;
  padding: 10px;
  padding-right: 15px;
}

.user-info .btn {
  margin-left: 0;
}
