.allitemimages {
  height: 22em;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

.allitemimages img
{
  margin: 5px;
  height:20em;
  width: auto;
  vertical-align: top;
  display: inline;
}

.card .account-icon {
  font-size: 5em;
  float: left;
  padding: 10px;
  padding-right: 15px;
}

.user-info .btn {
  margin-left: 0;
}
