.dtp .dtp-btn-ok.btn.btn-flat {
  background-color: #4285F4;
}
.dtp .dtp-btn-cancel.btn.btn-flat {
  background-color: #ff4444;
}

/*todo style this properly*/
#preview
{
  width: 40%;
  height: 40%
}