.search-container{
  margin-top: 10em;
  margin-bottom:2em;
}

@media screen and (max-width: 700px) {
  .search-container{
    margin-top: 2em;
    margin-bottom:2em;
  }

}
.search-container .input-group-addon{
  cursor: pointer;
  background-color: transparent;
} 

.search-container .input-group-addon:hover{
  opacity: 0.7;
} 

.search-container .input-group{
  margin: 0;
}

#refineBtn {
  float: right;
}

.search-options-container{
  padding: 15px;
  z-index: -1;
  display: none;
}

#searchBox {
  margin: 0;
}

#resultsMap
{
    width: 100%;
    height: 800px;
}

.order-img img {
  height: 5em;
  width: auto;
}

.card .order-img {
  float: left;
  padding-bottom: 0px;
}

#results .card a {
  position: absolute;
  width: 100%;
  height: 100%;
}
