

html,
body,
.search-jumbotron {
    height: 20em;
}

.view {
    background: url("../img/bg-img-compressed.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    padding-top: 20px;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators .active {
    width: 25px;
    height: 25px;
    margin: 0;
    background-color: #212121;
    border: none;
    border-radius: 40%;
}

.carousel-indicators li {
    width: 18px;
    height: 18px;
    border: none;
    background-color: #2E2E2E;
}
.carousel-inner {
    margin-bottom: 50px;
}

#ItemCarousel .card .card-block {
    padding-top: 3px;
    padding-bottom: 1px;
}

